@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --bg-blue : #cef1ea;
    
}


.bg-blue{
    background: var(--bg-blue);
}

p{
    font-family: "Roboto", sans-serif;
    
}

h2{
    font-family: "Protest Riot", sans-serif;

}

h3{
    font-family: "Protest Riot", sans-serif;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 600;
}

.carousel-caption {
    position: absolute;
    right: 55%;
    bottom: 10%;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
}

@media(max-width:768px){

    .carousel-caption {
        position: absolute;
        right: 55%;
        bottom: 0%;
        left: 10%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
    }

    h1{
        font-size: 16px;
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
html {
}

body {
  background-color: #bad7e9;
}

.demo{
    background: #bad7e9;

}




@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1262 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1262 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.snip1262 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
}
.snip1262 a {
  padding: 0.3em 0.8em;
  backface-visibility: hidden;
  color: black;
  display: block;
  line-height: 2em;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-weight: bold;
}
.snip1262 a:after {
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background-color: rgb(83, 151, 179);
  color: transparent;
  content: attr(data-hover);
  left: 0;
  line-height: 2em;
  position: absolute;
  bottom: 100%;
  width: 100%;
  opacity: 0.4;
}
.snip1262 li:hover a,
.snip1262 li.current a {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  color: transparent;
}
.snip1262 li:hover a:after,
.snip1262 li.current a:after {
  opacity: 1;
  color: #ffffff;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}



